<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" id="cordova-plugin-bactrack" version="1.0.0">
  <engines>
    <engine name="cordova-plugman" version=">=5.0.0" />
  </engines>
  <name>bactrack</name>
  <description>Use the Bactrack breathalyzer via Cordova app</description>
  <author>Bob Nix</author>
  <keywords>Bactrack,cordova,alcohol,bac,drinking,aud</keywords>
  <license>MIT</license>
  <js-module src="www/bactrack.js" name="bactrack">
    <clobbers target="cordova.plugins.bactrack" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="BACTrackPlugin">
        <param name="ios-package" value="BACTrackPlugin" />
      </feature>
    </config-file>
    <header-file src="src/ios/BacTrackPlugin.h" />
    <header-file src="src/ios/BacTrackPluginDelegate.h" />
    <source-file src="src/ios/BacTrackPlugin.m" />
    <source-file src="src/ios/BacTrackPluginDelegate.m" />
    <header-file src="src/ios/BACtrack.h" />
    <source-file src="src/ios/libBACtrackSDK.a" framework="true" />
  </platform>
</plugin>
