$color-primary: gray !default;
$color-primary-dark: gray !default;

.notificationMenu{
  min-width: 300px;
}

input:-webkit-autofill{
  background-color: none !important;
}


.urlAddress{
  font-size: 24px;
  color: #aaaaaa;
}
