.DS_Store
settings-development.json
settings-production.json
npm-debug.log

node_modules

screenshots/*
accounts/*.png
iTunesConnect/*.png
patientJourney/*.png
patientJourney.routes/*.png
patientRoutes/*.png
weblog/*.png
nightwatch/logs/*.log
selenium-debug.log
reports
reports/*

settings.*.json

packages/hl7-resource-careplan
packages/hl7-resource-condition
packages/hl7-resource-datatypes
packages/hl7-resource-device
packages/hl7-resource-encounter
packages/hl7-resource-goal
packages/hl7-resource-observation
packages/hl7-resource-patient
packages/hl7-resource-practitioner
packages/accounts-housemd
